* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    width: 96%;
    margin: 0 auto;
}

nav {
    background-color: black;
}

nav .container {
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav a {
    color: white;
}

.nav-links {
    display: none;;
}

nav img {
    width: 50px;
}

.nav-mobile {
    position: absolute;
    top: 60px;
    left: 0;
    text-align: center;
    display: none;
    width: 100%;
    background-color: black;
}

.nav-mobile-checkbox {
    opacity: 0;
}

.nav-mobile-checkbox:checked + .nav-mobile {
    display: initial;
}

@media (min-width: 768px) {
    .container {
        width: 720px;
    }
}

@media (min-width: 1024px) {
    .container {
        width: 960px;
    }
}

@media (min-width: 1440px) {
    .container {
        width: 1100px;
    }
}